<h1>お問い合わせ一覧</h1>
<table class="table">
	<tr>
		<th>お名前</th>
		<th>お問い合わせ内容</th>
		<th></th>
		<th></th>
	</tr>
	<% @contacts.each do |contact| %>
	<tr>
		<td> <%= contact.user.full_name %> 様</td>
		<td> <%= contact.contact_text %></td>
		<td> <%= link_to "詳細", admin_contact_path(contact), class: "btn btn-primary" %></td>
		<td> <%= link_to "削除", admin_contact_path(contact), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
	</tr>
  <% end %>
</table>


