<h2><%= @user.name %>様</h2>

<p>こんにちは。CD MOUNTAIN管理者です。</p>
<p>この度は、お問い合わせありがとうございました。</p>
<p>以下でご質問の回答となっておりますでしょうか。</p>

<p><%= @answer %></p>

<p>ご不明点ございましたら、本メールにてご返信ください</p>
<p>今後とも、CD MOUNTAIN をよろしくお願いいたします。</p>

<p> CD MOUNTAIN </p>