<div class="nested-fields well well-compact">
  <div class="form-group">
		<%= f.label :artist_name %>
		<%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>
		<%= link_to_remove_association "remove artist", f %>
	</div>
</div>
