<span class="nested-fields form-inline">
  <div class="form-group">
		<%= f.label :アーティスト名 %>
		<%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>
		<%= link_to_remove_association "削除", f %>
	</div>
</span>
