// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*index main*/

main {
  width: 100%;
}

.product-wrapper {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 35px 20px;
}

.product-name {
  font-size: 15px;
  font-weight: bold;
}

.details {
  font-size: 13px;
}

.product-item {
  padding: 20px;


}

/*index sidebar*/

.sidebar {
  float: left;
  width: 20%;
}

.ranking-box{
  border-left: 3px solid;
  border-image:
    linear-gradient(
      to bottom,
      #A05359,
      rgba(0,0,0,0)
      ) 1 100%;
  border-image-slice: 1;
  float: right;
  width: 250px;
  margin: 35px;
  padding: 1em;
  background-color: #FFFFCC;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.tape{
  display: block;
  background-color: #ccb;
  opacity: 0.2;
  transform: rotate(3deg);
  width: 60%;
  height: 35px;
  margin: -2em auto 0 auto;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
}

.ranking-title {
  font-size: 18px;
  text-align: center;
  font-family:'Reimin Light';
  margin-bottom: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}

.rank-img{
  float:left;
  padding: 10px;
  width: 100%;
  background-color: #E5BB4B;
  margin-bottom: 30px;
}


.button{
  height: 60px;
  margin-top: 40px;
  border-radius: 20px;
}

.review-box{
  background-color: gray;
}


.cart-box{
  border: 1px solid #000;
  border-radius: 24px;
  display: inline-block;
  height: 250px;
}

.favorite-box{
  float:right;
}

.product-name-rank {
  font-size: 12px;
  font-weight: bold;
}

.details-rank {
  font-size: 11px;
}

.right {
  float: right;
  padding-right: 10px;
}

/*showページ カートへ追加ボタン*/

.cart-button {
  position: relative;
  background-color: #5DAC81;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #00896C;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  width: 260px;
  margin-top: 20px;
}

.cart-button:hover {
  top: -4px;
  box-shadow: 0 5px 0 #00896C;
}

.cart-button:active {
  top: 3px;
  box-shadow: none;
}

.price-info {
  padding-top: 15px;
}

.track-list-title {
  font-size: 25px;
  font-family:'Reimin Light';
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 40px
}

.review-list-title {
  font-size: 25px;
  font-family:'Reimin Light';
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 40px
}

