// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*index main*/

main {
  width: 100%;
}

.product-wrapper {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  padding: 35px 20px;
}

.product-name {
  font-size: 15px;
  font-weight: bold;
}

.details {
  font-size: 13px;
}

.product-item {
  padding: 20px;
}

/*index sidebar*/

.sidebar {
  float: left;
  width: 20%;

}

.ranking-box{
  float:right;
  width: 250px;
  margin: 35px;
  padding: 1em;
  background-color: #F9E3B8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.tape{
  display: block;
  background-color: #ccb;
  opacity: 0.2;
  transform: rotate(3deg);
  width: 40%;
  height: 35px;
  margin: -2em auto 0 auto;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
}

.ranking-title {
  font-size: 18px;
  text-align: center;
  font-family:'Reimin Light';
  margin-bottom: 15px;
  font-weight: bold;
}

.rank-img{
  float:left;
}

.rank-contents{
  float:right;
  margin-left: 10px;
}


.button{
  height: 60px;
  margin-top: 40px;
  border-radius: 20px;
}

.review-box{
  background-color: gray;
}


.cart-box{
  border: 1px solid #000;
  border-radius: 24px;
  display: inline-block;
  height: 300px;
}

.favorite-box{
  float:right;
}

