// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tape-box{
  margin: 1em 0;
  padding: 1em;
  background-color: #FFF6D1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.tape{
  display: block;
  background-color: #ccb;
  opacity: 0.2;
  transform: rotate(3deg);
  width: 40%;
  height: 35px;
  margin: -2em auto 0 auto;
  border-left: 3px dotted rgba(0,0,0,.1);
  border-right: 3px dotted rgba(0,0,0,.1);
}

.userinfo-title{
  margin-top: 15px;
  font-size: 20px;
  font-family:'Reimin Light';
  font-weight: bold;
  text-align: center;
}

.tape-box p{
  margin: 0;
  padding: 1px;
}

.left-upper {
  margin-top: 40px;
}

.left-lower {
  margin-top: 30px;
}

