<script type="text/javascript">
$(document).ready(function(){

  $('.slider').slick({
    arrows: false,
    autoplay: true,
    autoplaySpeed: 0,
    cssEase: 'linear',
    speed: 3000,
    swipe: false,
    slidesToShow: 14,
    slidesToScroll: 1,
  });

});
</script>

<h1>商品一覧</h1>
<div>
	<% @products.each do |product| %>
		<div>
			<%# attachment_image_tag product, :jacket_img %><br>
			商品名：<%= product.product_name %><br>
			アーティスト名：
			<%# @artists.each do |artist| %>
				<%# artist.artist_name %>
			<%# end %>
			<br>
			価格：<%= product.price %>
		</div>
	<% end %>
	<%= paginate @products, class: "paginate" %>
</div>
